.item-container {
    text-align: center;
  
    background: linear-gradient(180deg, #f9cad3 0%, #e1ffea22 60%);
    padding: 100px 80px;
    margin: 0;
  
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 5px;
    margin-top: 0px;
    height:150px;
    border-bottom:linear-gradient(180deg, #f9cad3 0%, #e1ffea22 60%);
  }
  
  .start-btn {
    background: #ff4b4b;
    color: white;
    padding: 0.75rem 1.5rem;
    border: none;
    text-decoration: none;
    border-radius: 4px;
    display: inline-block;
    margin-top: 1rem;
  }
  