.navbar{
    display: flex;
    justify-content: space-between;
    padding: 16px;
    box-shadow: 0 1px 3px -2px black;
}
.nav-logo{
    display: flex;
    align-items: center;
    gap: 10px;      
}
.nav-logo p {
color: #171717;
font-size: 38px;
font-weight: 600;
}
.nav-logo img {
    width: 150px; /* Adjust the width as needed */
    height: auto;
}
.nav-menu{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 50px;
    color: #626262;
    font-size: 20px;
    font-weight: 500;
}
.nav-menu li{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3px;
    cursor: pointer;
}
.nav-menu hr{
    border: none;
    width: 80%;
    height: 3px;
    border-radius: 10px;
    background: #ff4141;
}
.nav-right{
    display: flex;
    align-items: center;
    gap: 25px;
  
}
.nav-right button{
    width: 157px;
    height: 58px;
    outline: none;
    border: 1px solid #7a7a7a;
    border-radius: 75px;
    color: white;
    font-size: 20px;
    font-weight: 500;
    background: rgba(255,76,76,1);
    cursor: pointer;
    box-shadow: 
    0 4px 0 #ffffff,     /* white layer (bottom-most) */
    0 8px 0 #A08400;     /* mustard yellow bottom shadow */
  transition: transform 0.1s, box-shadow 0.1s;
}


.nav-right button:active{
    transform: translateY(4px);
    box-shadow: 
      0 2px 0 #ffffff, 
      0 4px 0 #A08400;
}