
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px;
    background-color: white;
    box-shadow: 0 1px 3px -2px black;
    margin:0;
    height:140px;
    
  }

  .navbar-logo img {
    height: 130px; /* or any smaller value like 30px */
    width: auto;
  }
  
  .navbar-buttons {
    display: flex;
    gap: 30px;
  }
  
  .btn {
    font-size: 26px;
    font-weight: 500;
    padding: 12px 24px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    box-shadow: 0 4px 0 rgba(0, 0, 0, 0.3);
    transition: transform 0.2s ease;
    width: 160px; /* Set same width */
    text-align: center;
  }
  
  .btn:hover {
    transform: translateY(-2px);
  }
  
  .btn.dark {
    background-color: #00253f;
    color: #ffd900;
  }
  
  .btn.yellow {
    background-color: #ffd900;
    color: black;
  }
  