.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; 
    background-color: #03223b; /* Dark blue background only for this section */
  }
  
  .login-form {
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    color: #fff;
  }
  
  .login-form label {
    margin: 10px 0 5px;
    font-weight: bold;
  }
  
  .login-form input[type="email"],
  .login-form input[type="password"] {
    padding: 10px;
    border: 1px solid #ccc;
    color: white;
    border-radius: 5px;
    outline: none;
    background:"transparent";
  }
  
  .remember-me {
    display: flex;
    align-items: center;
    margin: 15px 0;
  }
  
  .remember-me input {
    margin-right: 8px;
  }
  
  .login-btn {
    background-color: #FFD700; /* Yellow */
    color:black;
    font-weight: bold;
    border: none;
    padding: 12px;
    border-radius: 8px;
    cursor: pointer;
    margin: 10px 0;
  }
  
  .login-btn:hover {
    background-color: #e6c200;
  }
  
  .forgot-password {
    text-align: center;
    display: block;
    margin-top: 10px;
    color: #fff;
    text-decoration: none;
  }
  
  .forgot-password:hover {
    text-decoration: underline;
  }
  